<form class="user-create-card-container" (ngSubmit)="createUser()">
  <input type="text" placeholder="username" [(ngModel)]="user.username" name="username" required>
  <input type="email" placeholder="email" [(ngModel)]="user.email" name="email" required>
  <input type="text" placeholder="password" [(ngModel)]="user.password" name="password" required>
  <role-selector [roles]="roles"
                 [selectedRole]="selectedRole"
                 (roleSelected)="onRoleSelected($event)">
  </role-selector>
  <button type="submit">Create</button>
</form>
